In [3]:
li = ["abc", 23, 4.34, 23]

In [4]:
print(li)

['abc', 23, 4.34, 23]

In [5]:
li[1] = 45

In [7]:
li

['abc', 45, 4.34, 23]

In [8]:
t = (23, "abc", 4.56, (2,3), "def")

In [10]:
t

(23, 'abc', 4.56, (2, 3), 'def')

In [11]:
t[2] = 3.14

TypeError: 'tuple' object does not support item assignment

In [12]:
li = [1, 11, 3, 4, 5]

In [15]:
li.append("a") # Note the method syntax
li

[1, 11, 3, 4, 5, 'a', 'a', 'a']

In [16]:
li.insert(2, "i")

In [17]:
li

[1, 11, 'i', 3, 4, 5, 'a', 'a', 'a']

In [18]:
li.extend([9, 8, 7])

In [19]:
li

[1, 11, 'i', 3, 4, 5, 'a', 'a', 'a', 9, 8, 7]

In [20]:
li.append([10, 11, 12])

In [21]:
li

[1, 11, 'i', 3, 4, 5, 'a', 'a', 'a', 9, 8, 7, [10, 11, 12]]

In [23]:
li = ["a", "b", "c", "b"]

In [24]:
li

['a', 'b', 'c', 'b']

In [25]:
li.index('b')

1

In [26]:
li.count('b')

2

In [27]:
li.remove('b')
li

['a', 'c', 'b']

In [28]:
li = [5, 2, 6, 8]

In [29]:
li

[5, 2, 6, 8]

In [34]:
li.reverse()
li

[8, 6, 2, 5]

In [35]:
li.sort() # sort the list *in place*
li

[2, 5, 6, 8]

In [36]:
li.sort(some_function)

NameError: name 'some_function' is not defined

In [37]:
li = list(tu)
tu = tuple(li)

NameError: name 'tu' is not defined